.currencyWrap {
    position: relative;
}

.currencyCode {
    position: absolute;
    font-weight: bold;
    font-size: 14px;
    color: #176EFF;
    margin-inline: 10px;
    top: 26%
}

.textCurrency {
    padding-left: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: solid 1px rgb(42, 40, 40);
    border-radius: 0px;
    font-weight: bold;
    font-size: 14px;
    color: #176EFF;
    outline: none;
}